:root {
    --footer-font-size: 12px; 
}

footer {
    width: 100%;

    padding-top: 8px;

    background-color: var(--footer-border-colour);
    box-shadow: var(--shadow);
}

.footer-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    width: 100%;

    padding: 4px 8px 8px;

    background-color: var(--footer-bg-colour);
    box-shadow: var(--shadow);
}

.footer-text {
    font-size: var(--footer-font-size);
    color: var(--footer-text-colour);
}

.footer-image-container > a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-image-container > a,
.footer-image-container > a > svg {
    height: 20px;
    width: 20px;
}

.footer-image-container > a > svg {
    fill: var(--footer-icon-colour);
}

/* Desktop Styling */
@media screen and (min-width: 601px) {
    :root {
        --footer-font-size: 14px; /* Larger font for readability */
    }
}