:root {
    --scoreboard-border-rounding: 10px;
    --scoreboard-padding: 8px;
}

.scoreboard {
    width: 100px;

    overflow: hidden;
    background-color: var(--scoreboard-bg-colour);
    border: 3px solid var(--scoreboard-border-colour);
    border-radius: var(--scoreboard-border-rounding);
}

.score-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: var(--scoreboard-padding);

    color: var(--score-section-colour);
    background-color: var(--score-section-bg-colour);
}

.scoreboard-title,
.best-score-section {
    font-size: 16px;
    font-weight: 700;
}

.scoreboard-value {
    font-size: 34px;
    font-weight: 700;
}

.best-score-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    padding: var(--scoreboard-padding);

    color: var(--best-score-section-colour);
}

/* Desktop Styling */
@media screen and (min-width: 601px) {
    :root {
        --scoreboard-padding: 12px;
    }

    .scoreboard {
        justify-self: center;
    }
}