:root {
  font-family: 'Fredoka', 'Arial Rounded MT Bold', 'Trebuchet MS', 'Verdana', 'Helvetica', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  box-sizing: border-box;

  /* TODO: Needed? */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  /* TODO: Needed? */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --yellow-100: #EDE06A;
  --yellow-200: #D6C278;

  --pink-100: #F1B8BF;
  --pink-200: #EEA0A9;

  --tan-100: #FFF8DC;

  --green-100: #59CFB8;
  --green-200: #0BC5B6;
  --green-300: #00A59C;

  --brown-100: #8B4513;
  --brown-200: #5C4033;
  --brown-300: #333333;

  --white: #FFFFFF;

  --shadow: 0 0 4px #00000030;

  /* Main Styling Colours */
  --main-bg-colour: var(--tan-100);
  --description-colour: var(--brown-300);

  /* Header Styling Colours */
  --header-bg-colour: var(--pink-200);
  --header-border-colour: var(--pink-100);
  --header-text-colour: var(--brown-300);

  /* Scoreboard Styling Colours */
  --scoreboard-border-colour: var(--pink-200);
  --scoreboard-bg-colour: var(--pink-200);
  --score-section-colour: var(--pink-200);
  --score-section-bg-colour: var(--white);
  --best-score-section-colour: var(--white);

  /* Villager Card Styling Colours */
  --villager-card-bg-colour: var(--white);
  --villager-card-hover-outline: var(--green-200);
  --villager-card-active-outline: var(--green-300);

  /* Footer Styling Colours */
  --footer-border-colour: var(--pink-100);
  --footer-bg-colour: var(--pink-200);
  --footer-text-colour: var(--brown-300);
  --footer-icon-colour: var(--brown-300);

  /* Modal Styling Colours */
  --modal-bg-colour: var(--tan-100);
  --modal-header-border-colour: var(--pink-100);
  --modal-header-bg-colour: var(--pink-200);
  --modal-header-colour: var(--brown-300);
  --modal-footer-border-colour: var(--pink-100);
  --modal-footer-bg-colour: var(--pink-200);

  /* Button Styling Colours */
  --play-again-button-bg-colour: var(--green-100);
  --play-again-button-hover-bg-colour: var(--green-200);
  --play-again-button-focus-outline-colour: var(--brown-300);
  --play-again-button-active-bg-colour: var(--green-300);
  --play-again-button-colour: var(--white);
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  border: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-family: inherit;
  cursor: pointer;
}
